{% extends "base.html" %}
{% load url from future %}

{% block sectiontitle %}Projekt erstellen{% endblock %}

{% block content %}

<form action="" method="post">
	{% csrf_token %}
	<label for="id_projektNamae">Name: </label>
    	<p class="text-error">{{form.name.errors|striptags}}</p>
      	{{ form.name }}

    <label for="id_besschreibungt">Beschreibung:</label>
   		<p class="text-error">{{form.beschreibung.errors|striptags}}</p>
    	{{ form.beschreibung }}
     <br><br>
     <button class="btn btn-primary" type="submit">Senden</button>
</form>

{% endblock %}