{% extends "base.html" %}
{% load url from future %}

{% block sectiontitle %}Projekt bearbeiten{% endblock %}

{% block content %}

<form action="" method="post">
	{% csrf_token %}
  <p class="text-error">{{ form.non_field_errors|striptags }}</p>
   	<label for="id_projektName">Name: </label>
      <p class="text-error">{{form.name.errors|striptags}}</p>
      {{ form.name }}

    <label for="id_beschreibung">Beschreibung:</label>
   	  <p class="text-error">{{form.beschreibung.errors|striptags}}</p>
      {{ form.beschreibung }}

    <label for="id_status">Status:</label>
   	  <p class="text-error">{{form.status.errors|striptags}}</p>
      {{ form.status }}

     <br><br>
     <button class="btn btn-primary" type="submit">Senden</button>
</form>
{% endblock %}