{% extends "base.html" %}
{% load url from future %}

{% block sectiontitle %}Projektliste <a class="btn pull-right" href="/projekte/erstellen/">Projekt erstellen</a>{% endblock %}

{% block content %}

{% for projekt in projektliste %}
<table class="table">
	<thead>
		<th>Projekt</th>
		<th>Beschreibung</th>
		<th>Besitzer</th>
		<th>Status</th>
	</thead>
	<tr>
		<td width="15%"><a href="/projekte/{{projekt.pk}}/">{{projekt.name}}</a></td>
		<td width="55%"><a href="/projekte/{{projekt.pk}}/">{{projekt.beschreibung}}</a></td>
		<td width="15%">{{projekt.besitzer}}</td>
		<td width="15%">{{projekt.get_status_display}}</td>
	</tr>
</table>
{% endfor %}
{% endblock %}