{% extends "base.html" %}
{% load url from future %}
{% load comments %}
{% load filter %}

{% block content %}

<div class="container">
	<div class="hero-unit" style="color: black; black;  border-width: 0; box-shadow: 4px 4px 4px #666;">
		{% if aufgabe.status == 'OP' or aufgabe.bearbeiter == None%}
		<a class="btn btn-success btn-medium pull-right" href="/aufgabe/{{aufgabe.pk}}/bearbeiten/">Aufgabe annehmen</a>
		{%endif%}
		{%if benutzer == aufgabe.ersteller or benutzer == aufgabe.bearbeiter%}
	 <a class="btn btn-primary btn-medium" href="/aufgabe/{{aufgabe.pk}}/bearbeiten/">Aufgabe bearbeiten</a>
		 {%endif%}
	

			<table class="table table-striped table-hover">
				<thead>
					<td><small>Erstellt am: {{aufgabe.erstellDatum}}</small></td>
          <td></td>
          <td><small>Fällig am: {{aufgabe.faelligkeitsDatum}}</small></td>
          <tr>
        	<td width="35%"><small> Erstellt von: {{aufgabe.ersteller}}</small></td>
          <td width="35%"><small>Bearbeiter: {{aufgabe.bearbeiter}}</small></td>
          <td><small>Status: {{aufgabestatus_lang|getItem:aufgabe.status}}</small></td>
        </thead>

			</table>
        <h2 style="color: gray;">{{aufgabe.titel}}</h2>
        <p>{{aufgabe.beschreibung}}</p>
  </div>
</div>






<h2>Kommentare</h2>
{% render_comment_list for aufgabe %}
{% if user.is_authenticated %}
    {% get_comment_form for aufgabe as form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}

    <div>Dein Kommentar:<br /> {{ form.comment }}</div>
    <div>{{ form.content_type }}</div>
    <div>{{ form.object_pk }}</div>
    <div>{{ form.timestamp }}</div>
    <div>{{ form.security_hash }}</div>
    <input type="hidden" name="next" value="{% url 'aufgabeDetails' aufgabe.pk %}" />
    <br>
    <button class="btn btn-primary" type="submit" id="id_submit">Senden</button>
    
  </form>
{% else %}
    <p>Bitte <a href="{% url 'auth_login' %}">anmelden</a>, wenn Du einen Kommentar hinterlassen m&ouml;chtest</p>
{% endif %}


{% endblock %}